<div id="<%= dom_id product %>">
  <p>
    <strong>Src:</strong>
    <%= product.src %>
  </p>

  <p>
    <strong>Alt:</strong>
    <%= product.alt %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= product.currency %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= product.max %>
  </p>

</div>
