<%= stylesheet_link_tag('navbar')%>
<div class='nav-container'>
  <a href=<%= root_path %>
    class='nav-button-style'>
      <img class='section-main-nav-img' src='https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Screenshot+2024-10-31+133341.png' alt='mainImage'/>
      <div>
        <p>Señora</p>
        <p>Garabato</p>
      </div>
  </a>
  <div class='nav-container-items-main'>
    <div class='nav-container-items'>
      <a
      class='nav-title'
      href=<%= content_path %>>
        <p>Home</p>
      </a>
      <a
      class='nav-title'
      href=<%= portfolio_path %>>
        <p>Portafolio</p>
      </a>
      <a
      class='nav-title'
      href=<%= bio_path %>>
        <p>Quien soy</p>
      </a>
      <a
      class='nav-title'
      href=<%= store_path %>>
        <p>Tienda</p>
      </a>
    </div>
    <div class='nav-container-items'>
    
    </div>
  </div>
</div>

