<%= stylesheet_link_tag('sections')%>
<%= stylesheet_link_tag('portfolio')%>
<%= render 'nav/nav' %>

<section class='container-portfolio'>
  <h1>Tienda</h1>
  <div class='portfolio-container-img'>
    <% images = [
      { src: 'https://senora-garabato-images.s3.us-east-2.amazonaws.com/images/Portfolio/BotanicSpiderma.JPG',
        alt: 'Spider',
        name: 'Retratos',
        description: 'Retratos ilustrados',
        price: 10,
       currency:'€' },
    ] %>
    <% images.each do |image| %>
      <div>
      <img src="<%= image[:src] %>" alt="<%= image[:alt] %>" class="portfolio-ing" onclick="openModal('<%= image[:src] %>')"/>
      <p><%= image[:name]%>  <%= image[:price]%><%= image[:currency]%> </p>
      <p><%= image[:description]%></p>
      </div>
    <% end %>
  </div>
</section>

<!-- Modal -->
<div id="imageModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="modalImage">
</div>

<section class='container-portfolio'>
  <!-- Imágenes y Modal HTML aquí -->

  <!-- JavaScript inline en la vista -->
  <%= javascript_tag do %>
    function openModal(imageUrl) {
      var modal = document.getElementById('imageModal');
      var modalImage = document.getElementById('modalImage');
      modal.style.display = 'block';
      modalImage.src = imageUrl;
    }

    function closeModal() {
      var modal = document.getElementById('imageModal');
      modal.style.display = 'none';
    }
  <% end %>
</section>


