<%= stylesheet_link_tag('navbar')%>

<div>
    <div class='nav-container'>
        <div>
        <%= link_to "Store Fake", root_path, class: "nav-title" %>
        </div>
         <nav class="main-links">
            <%= link_to "Some Page", root_path %>
            <%= link_to "Buy", root_path %>
            <%= link_to "Other", root_path %>
            <%= link_to "Login", root_path %>
         </nav>
      </div>
</div>
